/* Container styling*/
.container-fluid { width:100; /* This was to remove the padding that was showing up in the footer. */
}

.row { margin: 0px; /* Once I removed the padding then the rows had gaps on the side that I didn't like*/
}


/* Nav Bar Styling */

.navbar { padding-top:0px;
          padding-bottom: 0px;
          border-bottom: bold;

}

.navbar-brand { background-color: #4aaaa5;
                color: #666666; 
                margin-left: 75px;
                margin-top:0px;
                padding: 15px;
                font-size: 25px;
                border-radius: 25px;
                text-transform: uppercase;
}

.navbar-nav { margin-right: 50px;
  

}

.nav-item {color: #666666; }

/* About me image */
/* Want to select images that are children of cards*/
#aboutme_img { height: 150px;
}


/* Portfolio */

/* Images on the portfolio page*/

/*I believe there is a more efficient way to accomplish this using something like p:nth-child(2) */
 #alexa_img, #knitting_img, #etl_img, #dashboard_img { height: 150px;
}

/* Styling for the image overlays*/ 
 .card-footer {  color: #ffffff;
  text-align: center;
  background: #4aaaa5;
  bottom: 2px;
}


/* Contact */ 
.btn { outline-color:#666666;
       background-color: #4aaaa5;
       color: #ffffff;

}
/* Footer */
.row-footer {
    clear: both;
    font-size: 12px;
    color: #ffffff;
    color: #cccccc;
    text-align: center;
    background: #666666;
    border-top: 8px solid #4aaaa5;
    height: 50px;
    margin-top: 100px;
  }




